@import "src/styles/responsive";
.favorites-page {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  justify-content: center;
  margin-bottom: 100px;

  .warning {
    margin-top: 50px;
    @include cwd(600px) {
      margin-top: 30px;
    }
  }
}