@import "src/styles/variables";
@import "src/styles/mixins";
@import "src/styles/responsive";

.form-wrapper {
  padding: 20px;
  border-radius: 10px;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .label {

      .input {
        @include fonts('Montserrat', 500, 18px, $light-gray);
        font-style: italic;
        background-color: $bg-color;
        width: 470px;
        height: 50px;
        border-bottom: 1px solid $light-gray;
        transition: all .2s ease;
        margin: 0;
        @include cwd(900px) {
          width: 400px;
        }

        @include cwd(800px) {
          width: 350px;
        }
        @include md{
          font-size: 16px;
          width: 300px;
        }

        &:hover {
          border-bottom: 1px solid $orange;
          color: $orange;
        }

        &:focus {
          border-bottom: 1px solid $orange;
          color: $light-gray;
        }
      }
    }

    .text-area {
      @include fonts('Montserrat', 500, 18px, $light-gray);
      font-style: italic;
      background-color: $bg-color;
      width: 470px;
      height: 60px;
      border-radius: 5px;
      border: 1px solid $light-gray;
      padding-top: 5px;
      margin-top: 5px;
      @include cwd(900px) {
        width: 400px;
      }

      @include cwd(800px) {
        width: 350px;
      }
      @include md{
        font-size: 16px;
        width: 300px;
      }

      &:hover {
        border: 1px solid $orange;
        color: $orange;
      }
    }
  }
}

.error {
  color: $red;
  font-size: 14px;
  padding-top: 5px;
}